<div class="o-container o-container--small" id="signup">
  <form action="/signup">
    <div class="c-input-group" id="email_form">
      <input class="c-field c-field--large" name="email" type="email" placeholder="you@email.com">
      <button class="ladda-button" data-color="mint" data-style="zoom-out" type="submit"><span class="ladda-label">Submit</span><span class="ladda-spinner"></span></button>
    </div>
  </form>
</div>